/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
:root {
  --font-family-title: "Inter", sans-serif;
  --font-family-text: "Montserrat", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #fff;
}

.page {
  height: 100%;
  font-family: var(--font-family-text);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.d-mobile {
  display: none;
}
@media (max-width: 768px) {
  .d-mobile {
    display: block;
  }
}

/* stylelint-disable order/order */
.button {
  border-radius: 1.75em;
  padding: 1em 3.25em;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #65a16a;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.button:hover {
  background-color: #6b936e;
}
.button:focus, .button:active {
  background-color: #527355;
}
.button--stroke {
  border: 1px solid #65a16a;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 15px;
  color: #65a16a;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 576px) {
  .button--stroke {
    padding: 8px 16px;
    font-size: 10px;
  }
}
.button--stroke:hover {
  color: #fff;
  background-color: #65a16a;
}
.button--stroke:focus, .button--stroke:active {
  border-color: #abcdae;
  background-color: #abcdae;
}

.section-title {
  margin: 0;
  margin-bottom: 1em;
  font-family: var(--font-family-text);
  font-weight: 700;
  font-size: 48px;
}
@media (max-width: 650px) {
  .section-title {
    font-size: 32px;
    text-align: center;
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 14px 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .header__container {
    display: -ms-grid;
    display: grid;
    justify-items: flex-end;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }
}
.header__nav {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
}
.header__logo {
  margin-right: 15px;
}
.header__info {
  margin-right: 15px;
}
.header__info-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  fill: #65a16a;
}
.header__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header__info-item:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .header__info-item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 0;
  }
}
.header__info-text {
  max-width: 195px;
  font-weight: 500;
  font-size: 13px;
}
@media (max-width: 600px) {
  .header__info-text {
    max-width: none;
  }
}
@media (max-width: 600px) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-grid-column-span: 3;
    grid-column: span 3;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-top: 8px;
    margin-right: 0;
    border-top: 1px solid #cdddbe;
    padding: 8px 0;
  }
}
.header__button-call {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
}
.header__button-call--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .header__button-call--mobile {
    display: block;
    font-size: 24px;
  }
}
.header__burger {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 36px;
}
@media (max-width: 576px) {
  .header__burger {
    margin-left: 15px;
  }
}
@media (max-width: 600px) {
  .header {
    background: #f1f3ef;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.nav__item {
  margin-right: 27px;
  font-weight: 700;
  font-size: 15px;
}
.nav__link {
  color: inherit;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.nav__link:hover {
  color: #6b936e;
}
@media (max-width: 1024px) {
  .nav--main {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--header-height);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    background: #f1f3ef;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  .nav--main .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav--main .nav__item {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .nav--main.menu--active {
    opacity: 1;
    pointer-events: all;
  }
}

.burger {
  --burger-width: 12px;
  --burger-height: 10px;
  --burger-line-height: 1px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
  /* stylelint-disable-next-line order/order */
  --burger-width: 30px;
  --burger-height: 22px;
  --burger-line-height: 2px;
  color: #65a16a;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 50%;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: var(--burger-width);
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 50%;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/hero/hero-bg.jpg");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/hero/hero-bg.webp" type("image/webp"), "../img/hero/hero-bg.jpg" type("image/jpg"));
  background-image: image-set("../img/hero/hero-bg.webp" type("image/webp"), "../img/hero/hero-bg.jpg" type("image/jpg"));
  padding-top: calc(var(--header-height) - 28px);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .hero__container {
    padding-top: 80px;
  }
}
.hero picture {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 125px;
  padding-top: 170px;
}
@media (max-width: 1024px) {
  .hero picture {
    margin-right: 0;
    padding-top: 20px;
  }
}
.hero__person-img {
  display: block;
}
@media (max-width: 1024px) {
  .hero__person-img {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .hero__person-img {
    width: 80%;
  }
}
.hero__text {
  margin-top: auto;
  margin-bottom: auto;
}
.hero__title {
  margin: 0;
  margin-bottom: 0.65em;
  font-family: var(--font-family-text);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
}
.hero__title span {
  color: #65a16a;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 24px;
  }
}
.hero__descr {
  margin-bottom: 16px;
  border: 1px solid #65a16a;
  border-radius: 10px;
  padding: 8px 16px;
  max-width: 540px;
  font-size: 15px;
}
.hero__descr:last-of-type {
  margin-bottom: 32px;
}
.hero__descr--green-text {
  color: #65a16a;
}
@media (max-width: 576px) {
  .hero__descr {
    font-size: 14px;
  }
}
.hero__button {
  display: block;
  margin-left: 0;
}

.services {
  padding-top: 150px;
  padding-bottom: 120px;
}
.services__show-more {
  display: none;
}
@media (max-width: 650px) {
  .services__show-more {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px 60px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .services {
    padding-top: 120px;
  }
}

.service-list {
  margin-bottom: 50px;
}
.service-list__item {
  margin-bottom: 16px;
  /* stylelint-disable-next-line order/order */
}
@media (max-width: 650px) {
  .service-list__item:nth-child(n+11) {
    display: none;
  }
}
.service-list__item.is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}
.service__name {
  border-radius: 32px;
  padding: 1em 2em;
  font-weight: 700;
  font-size: 20px;
  background-color: #faf7e8;
}
@media (max-width: 650px) {
  .service__name {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .service__button {
    margin: 0 auto;
    max-width: 210px;
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0;
  }
}

.about {
  margin-bottom: 150px;
}
.about__content-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 72px;
  background: #eceecd;
}
.about__content-wrapper::before {
  content: "";
  position: absolute;
  right: 25px;
  top: 50%;
  width: 280px;
  height: calc(100% - 144px);
  background-image: url("../img/about/content-bg-svg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .about__content-wrapper::before {
    right: -165px;
    height: calc(100% - 80px);
    background-size: contain;
  }
}
@media (max-width: 576px) {
  .about__content-wrapper::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .about__content-wrapper {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .about__content-wrapper {
    margin-bottom: 16px;
    padding: 40px 16px 16px;
  }
}
.about__logo {
  position: relative;
  margin-bottom: 72px;
}
@media (max-width: 768px) {
  .about__logo {
    margin-bottom: 30px;
    width: 370px;
  }
}
@media (max-width: 576px) {
  .about__logo {
    width: 215px;
  }
}
.about__text {
  position: relative;
  margin: 0;
  max-width: 640px;
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
}
.about__text:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .about__text {
    max-width: 480px;
  }
}
@media (max-width: 576px) {
  .about__text {
    font-size: 14px;
  }
}
.about__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__company picture {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .about__company picture {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .about__company picture {
    display: block;
    margin-bottom: 16px;
    width: 100%;
  }
}
.about__company-image {
  border-radius: 20px;
}
@media (max-width: 576px) {
  .about__company-image {
    width: 100%;
  }
}
.about__company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 530px;
  font-weight: 500;
  font-size: 18px;
  line-height: 175%;
}
.about__company-content p {
  margin: 0;
}
.about__company-content p:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .about__company-content p:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .about__company-content {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .about__company-content {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .about__company {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .about__company {
    display: block;
  }
}
@media (max-width: 576px) {
  .about {
    margin-bottom: 120px;
  }
}

.form-section {
  position: relative;
  padding: 165px 0 115px;
  background-image: url("../img/form-section/section-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-section__form-wrapper {
  border-radius: 20px;
  padding: 40px 32px;
  max-width: 445px;
  background-color: #faf7e8;
}
@media (max-width: 768px) {
  .form-section__form-wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .form-section__form-wrapper {
    padding: 16px;
  }
}
.form-section__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
}
@media (max-width: 768px) {
  .form-section__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .form-section__title {
    font-size: 26px;
  }
}
.form-section picture {
  position: absolute;
  right: max(15px, (100% - var(--content-width)) / 2);
  bottom: 0;
}
@media (max-width: 1024px) {
  .form-section picture {
    right: max(-115px, (100% - var(--content-width)) / 2);
  }
}
@media (max-width: 768px) {
  .form-section picture {
    position: static;
    display: block;
  }
  .form-section picture img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .form-section {
    padding-top: 95px;
    padding-bottom: 0;
  }
}
@media (max-width: 576px) {
  .form-section {
    padding-top: 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 8px;
}
.form__label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 13px;
  color: #626262;
}
.form__input {
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 16px 20px;
  font-size: 16px;
  line-height: 150%;
  /* stylelint-disable-next-line order/order */
}
.form__input::-webkit-input-placeholder {
  color: #b1b1b1;
}
.form__input::-moz-placeholder {
  color: #b1b1b1;
}
.form__input:-ms-input-placeholder {
  color: #b1b1b1;
}
.form__input::-ms-input-placeholder {
  color: #b1b1b1;
}
.form__input::placeholder {
  color: #b1b1b1;
}
.form__input:hover {
  border-color: #e9e9e9;
}
.form__input:focus, .form__input:focus-visible, .form__input:active {
  outline: none;
  border-color: #d2d2d2;
}
.form__button {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .form__button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.form .custom-checkbox {
  position: relative;
  font-size: 8px;
  line-height: 185%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b1b1b1;
}
.form .custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.form .custom-checkbox__content {
  display: block;
  padding-left: 39px;
  cursor: pointer;
}
.form .custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #B1B1B1;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}
.form .custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2475 0.66408C13.6446 0.920161 13.7471 1.45622 13.4725 1.84079L6.0903 12.1781C5.70867 12.7124 4.92431 12.7402 4.50585 12.2341L0.546307 7.4457C0.245754 7.08222 0.310595 6.5412 0.688525 6.25904C1.04084 5.99601 1.53754 6.05554 1.81772 6.39437L4.40635 9.52492C4.82481 10.031 5.60917 10.0032 5.99079 9.46882L12.1253 0.8787C12.3821 0.519102 12.8761 0.424626 13.2475 0.66408Z' fill='%23B1B1B1'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.form .custom-checkbox a {
  text-decoration: underline;
  color: inherit;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.form .custom-checkbox a:hover {
  color: #626262;
}

.just-validate-error-field {
  border-color: #f00 !important;
}

.just-validate-error-label {
  margin-top: 8px;
  font-size: 13px;
  color: #f00 !important;
}

.form__input-success {
  position: absolute;
  right: 16px;
  top: calc(50% + 12px);
  display: none;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.94191 0.0508614C4.23397 0.426694 1.91342 2.11418 0.751265 4.56085C0.431578 5.23359 0.22096 5.89882 0.0705192 6.72189C-0.0235064 7.23302 -0.0235064 8.76642 0.0705192 9.27755C0.397728 11.0477 1.11985 12.4496 2.3309 13.6598C3.53818 14.8662 4.95985 15.599 6.69745 15.9147C7.15253 15.9974 8.35982 16.0275 8.8638 15.9711C11.0866 15.7156 13.0987 14.5655 14.4151 12.7953C15.1936 11.7543 15.6675 10.6418 15.912 9.29634C15.9947 8.83407 16.0285 7.70657 15.9721 7.16913C15.581 3.4296 12.6211 0.449244 8.87884 0.0320702C8.42 -0.0167885 7.37819 -0.00927162 6.94191 0.0508614ZM12.433 5.32379C12.6662 5.46661 12.8204 5.76352 12.8016 6.0266C12.7903 6.12807 12.7565 6.27841 12.7188 6.35357C12.6399 6.51894 7.76182 11.0064 7.53615 11.1229C7.35563 11.2168 7.04722 11.2131 6.84789 11.1229C6.74634 11.0778 6.25364 10.6042 5.37733 9.72479C4.1738 8.51085 4.05344 8.37931 4.00831 8.2177C3.85035 7.62389 4.3468 7.0902 4.94857 7.21423C5.15166 7.25557 5.16671 7.26684 6.1709 8.26656C6.73129 8.82279 7.20142 9.27755 7.21271 9.27755C7.22775 9.27755 8.2169 8.37931 9.41291 7.28564C11.7635 5.12836 11.7259 5.15843 12.0945 5.20352C12.1885 5.2148 12.339 5.26742 12.433 5.32379Z' fill='%2386DD8D'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.just-validate-success-field + .form__input-success {
  display: block;
}

.footer {
  background: #faf7e8;
}
.footer__container {
  padding-top: 65px;
}
@media (max-width: 768px) {
  .footer__container {
    padding-top: 30px;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 65px;
}
@media (max-width: 576px) {
  .footer__top {
    padding-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto;
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .footer__top {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    gap: 20px;
  }
}
.footer__nav {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 15px;
}
.footer__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__nav .nav__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__nav .nav__link {
  color: #b1b1b1;
}
@media (any-hover: hover) {
  .footer__nav .nav__link:hover {
    color: #6b936e;
  }
}
@media (max-width: 1024px) {
  .footer__nav {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
    margin-left: 45px;
  }
}
@media (max-width: 576px) {
  .footer__nav {
    display: none;
  }
}
.footer__logo {
  margin-right: 15px;
}
@media (max-width: 576px) {
  .footer__logo {
    width: 160px;
  }
}
.footer__info {
  margin-right: 15px;
}
.footer__info-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  fill: #b1b1b1;
}
.footer__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__info-item:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .footer__info-item:not(:last-child) {
    margin-right: 8px;
  }
}
.footer__info-text {
  max-width: 195px;
  font-weight: 500;
  font-size: 13px;
  color: #b1b1b1;
}
@media (max-width: 600px) {
  .footer__info-text {
    max-width: none;
  }
}
@media (max-width: 1024px) {
  .footer__info {
    -ms-grid-row: 2;
    grid-row: 2;
  }
}
@media (max-width: 576px) {
  .footer__info {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.footer__button-call {
  border-color: #b1b1b1;
  color: #b1b1b1;
}
@media (max-width: 576px) {
  .footer__button-call {
    justify-self: flex-start;
    font-size: 15px;
  }
}
.footer__scroll-top {
  position: relative;
  padding-right: 26px;
  font-weight: 700;
  font-size: 15px;
  color: #b1b1b1;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__scroll-top::after {
  content: "";
  position: absolute;
  right: -10;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.203752 11.7959C-0.0679173 11.5237 -0.0679172 11.0825 0.203752 10.8103L8 3L15.7962 10.8103C16.0679 11.0825 16.0679 11.5237 15.7962 11.7959C15.5246 12.068 15.0841 12.068 14.8124 11.7959L8 4.97115L1.18755 11.7959C0.915884 12.068 0.475421 12.068 0.203752 11.7959Z' fill='%23B1B1B1'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
@media (max-width: 576px) {
  .footer__scroll-top {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}
@media (any-hover: hover) {
  .footer__scroll-top:hover {
    color: #6b936e;
  }
  .footer__scroll-top:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.203752 11.7959C-0.0679173 11.5237 -0.0679172 11.0825 0.203752 10.8103L8 3L15.7962 10.8103C16.0679 11.0825 16.0679 11.5237 15.7962 11.7959C15.5246 12.068 15.0841 12.068 14.8124 11.7959L8 4.97115L1.18755 11.7959C0.915884 12.068 0.475421 12.068 0.203752 11.7959Z' fill='%236b936e'/%3E%3C/svg%3E");
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  font-weight: 500;
  font-size: 13px;
  color: #b1b1b1;
}
@media (max-width: 576px) {
  .footer__bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    padding: 20px 0;
  }
}
@media (max-width: 375px) {
  .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__copyright {
  margin-right: 65px;
}
@media (max-width: 768px) {
  .footer__copyright {
    margin-right: 20px;
  }
}
@media (max-width: 576px) {
  .footer__copyright {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.footer__policy {
  text-decoration: underline;
  color: inherit;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .footer__policy:hover {
    color: #626262;
  }
}
@media (max-width: 576px) {
  .footer__policy {
    display: block;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 10px;
  }
}

.footer__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}
.footer__authors-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100px;
  height: 15px;
  cursor: pointer;
}
.footer__authors-item span {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer__authors-item span a {
  text-decoration: underline;
  color: #626262;
}
.footer__authors-item:hover span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
@media (max-width: 375px) {
  .footer__authors {
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */