.services {
  padding-top: 150px;
  padding-bottom: 120px;

  &__show-more {
    display: none;

    @media (max-width: 650px) {
      display: block;
      margin: 0 auto;
      border-radius: 30px;
      padding: 10px 60px;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 120px;
  }
}

.service-list {
  margin-bottom: 50px;

  &__item {
    margin-bottom: 16px;

    @media (max-width: 650px) {
      &:nth-child(n + 11) {
        display: none;
      }
    }

    /* stylelint-disable-next-line order/order */
    &.is-visible {
      display: flex;
    }
  }
}
